/*GLOBAL STYLES*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*DESKTOP-NAVIGATION-CSS*/

/*----COMPANY-LOGO-*/

.company-logo {
    font-size: 1.5rem;
    font-weight: bold;
}


/*----DESKTOP-MENU-LIST*/

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.desktop-menu-list ul{
    display: flex;
    gap: 30px;
}

.desktop-menu-list ul li {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/*----NAV-BTN*/

.nav-btn {
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/*HERO-SECTION*/

.hero-section {
    background-image: url('/assets/Screenshot\ 2026-02-23\ at\ 10.49.18\ AM.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*----MAIN-CONTAINER*/

.hero-main-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

/*----ITEM-BOXES*/
.item-box {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----HERO-LEFT-ITEM*/
.left-item h3 {
  font-size: 2rem;
}

.mini-video {
  height: 60%;
  width: 100%;
  border-radius: 15px;
}

/*-----HERO-CENTER-ITEM*/
.center-item img {
  height: 70%;
}

/*----HERO-RIGHT-ITEM*/

.right-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-item h1 {
  font-size: 4rem;
}

.hero-btn {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 20rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}


/*SECOND SECTION*/

.second-section-wrapper {
  background-color: antiquewhite;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.second-section-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second-section-title-wrapper h2 {
  font-size: 2rem;
}

.second-section-title-wrapper h1 {
  font-size: 3.5rem;
}

.second-section-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0 10rem 0;
  text-align: center;
}

.second-section-card-item {
  border: solid;
  padding: 11rem 1rem;
  border-color: rgb(200, 154, 98);
  height: 10rem;
  display: flex;
  align-items: center;
}

.inner-item {
  border: solid;
  padding: 7rem 4rem;
  border-color:  rgb(206, 192, 173);
  transition-duration: 0.6s;
  cursor: pointer;
}

.inner-item h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.inner-item p {
  font-weight: 200;
}

.inner-item:hover {
  border-color: rgb(200, 154, 98);
}